<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>483005309611-tq3v3q56l5n39246lo8pbdrompuk4sn2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.483005309611-tq3v3q56l5n39246lo8pbdrompuk4sn2</string>
	<key>API_KEY</key>
	<string>AIzaSyDHjczUF8Q_UYuABmiI305DGU8koWtIes8</string>
	<key>GCM_SENDER_ID</key>
	<string>483005309611</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codingwithflutter.firebaseAuthDemo</string>
	<key>PROJECT_ID</key>
	<string>tarekhealthtgt</string>
	<key>STORAGE_BUCKET</key>
	<string>tarekhealthtgt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483005309611:ios:3a403aad7479377e6c8dee</string>
</dict>
</plist>